* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  background: #f5f7fa !important;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05px;
  color: #858587;
  font-weight: 300;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Poppins','SansSerif';
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  font-family: 'Poppins','SansSerif';
  margin: 0;
  margin-bottom: 0rem !important;
  padding: 0;
}

main ul {
  margin-bottom: 0 !important;
}

main p, main span, main a, main label, main li, main option {
  font-family: 'Poppins','SansSerif';
  text-decoration: none !important;
}

main a {
  text-decoration: none;
}

main li {
  list-style-type: none;
}

main .container {
  width: 90%;
  margin: 0 auto;
}

main html {
  scroll-behavior: smooth;
}

main .modal-footer .btn-danger, main .save-btn .btn-danger {
  background: #DA291C !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .modal-footer .btn-danger:hover, main .save-btn .btn-danger:hover {
  opacity: .88;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .modal-footer .btn-success, main .save-btn .btn-success {
  background: #292f2d !important;
  border-color: #292f2da3 !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .modal-footer .btn-success:hover, main .save-btn .btn-success:hover {
  opacity: .88;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .modal-footer .btn-success:focus, main .modal-footer .btn-success:active, main .modal-footer .btn-success:visited, main .modal-footer .btn-success:focus-within, main .save-btn .btn-success:focus, main .save-btn .btn-success:active, main .save-btn .btn-success:visited, main .save-btn .btn-success:focus-within {
  -webkit-box-shadow: 0 0 0 0.25rem #292f2d33 !important;
          box-shadow: 0 0 0 0.25rem #292f2d33 !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .modal-content {
  background-color: #f5f7fa;
}

main header {
  padding: .7rem 0;
  background: #101820;
}

main header nav .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main header nav .profile-wrapper .SubProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header nav .profile-wrapper .SubProfile:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .88;
}

main header nav .profile-wrapper .SubProfile span i.far.fa-user-circle {
  font-size: 1.50em;
}

main header nav .profile-wrapper .SubProfile span i.fas.fa-chevron-down {
  font-size: 1.010em;
}

main header nav .profile-wrapper .SubProfile h3 {
  font-size: 1.015em;
  text-transform: capitalize;
  padding: 0 .5rem;
}

main header .credential-Wrapper {
  position: absolute;
  top: 51px;
  right: 93px;
  background: #3f4346;
  width: 160px;
  border-radius: 5px;
  display: none;
}

main header .credential-Wrapper .unorder li {
  list-style-type: none;
  padding: .5rem 2px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main header .credential-Wrapper .unorder li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .77;
}

main header .credential-Wrapper .unorder li:hover i.fas.fa-power-off {
  color: #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header .credential-Wrapper .unorder li .Logout_icon i.fas.fa-power-off {
  font-size: 15px;
  margin-right: .8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

main header .credential-Wrapper .unorder li a {
  font-size: 1em;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header .main-bar {
  left: 18%;
  top: 8px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header .main-bar:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header .main-bar:hover div {
  background: rgba(255, 255, 255, 0.733);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header .main-bar div {
  width: 35px;
  height: 4px;
  margin: 6px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
}

main header .Active-Menu {
  top: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header .Active-Menu .a {
  -webkit-transform: rotateZ(43deg);
          transform: rotateZ(43deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header .Active-Menu .b {
  opacity: 0;
}

main header .Active-Menu .c {
  -webkit-transform: rotateZ(-46deg);
          transform: rotateZ(-46deg);
  top: 0px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 6px 0 0 0px;
}

main section.Sidebar_Wrapper {
  background: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 250px;
  -webkit-box-shadow: 0 10px 40px 0 #3e396b12, 0 2px 9px 0 #3e396b0f;
          box-shadow: 0 10px 40px 0 #3e396b12, 0 2px 9px 0 #3e396b0f;
}

main section.Sidebar_Wrapper .Side-child_Wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

main section.Sidebar_Wrapper .Side-child_Wrp .Sidbar-Nav-Wrapper {
  margin-top: 2rem;
  width: 100%;
  padding: 0;
}

main section.Sidebar_Wrapper .Side-child_Wrp .Sidbar-Nav-Wrapper li {
  padding: .5rem 0 .5rem 1rem;
  background: #f5f7fa;
  text-align: left;
  margin: .3rem 0;
}

main section.Sidebar_Wrapper .Side-child_Wrp .Sidbar-Nav-Wrapper li a {
  text-decoration: none;
  color: #101820;
}

main .Company-masterWrapper {
  width: 84%;
  margin: 3rem 2rem 0 auto;
  -webkit-box-shadow: 0 10px 40px 0 #3e396b12, 0 2px 9px 0 #3e396b0f;
          box-shadow: 0 10px 40px 0 #3e396b12, 0 2px 9px 0 #3e396b0f;
  padding: 1rem;
  border-radius: 5px;
  background: #ffffff;
}

main .Company-masterWrapper .Company-content .heading-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem !important;
}

main .Company-masterWrapper .Company-content .heading-wrp h2 {
  font-size: 1.1em;
  text-transform: capitalize;
  color: #333;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: 600;
}

main .Company-masterWrapper .Company-content .heading-wrp .AddForm {
  width: 50px;
  height: 38px;
  background: #101820;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Company-masterWrapper .Company-content .heading-wrp .AddForm:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .88;
}

main .Company-masterWrapper .Company-content .heading-wrp .AddForm h2, main .Company-masterWrapper .Company-content .heading-wrp .AddForm i {
  color: #ffffff;
}

main .Company-masterWrapper .Table_wrapper, main .Company-masterWrapper .Company_Table_wrapper {
  overflow-x: auto;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
}

main .Company-masterWrapper .Table_wrapper::-webkit-scrollbar, main .Company-masterWrapper .Company_Table_wrapper::-webkit-scrollbar {
  width: 8px;
}

main .Company-masterWrapper .Table_wrapper::-webkit-scrollbar-thumb, main .Company-masterWrapper .Company_Table_wrapper::-webkit-scrollbar-thumb {
  background: #444;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

main .Company-masterWrapper .Table_wrapper::-webkit-scrollbar-thumb:hover, main .Company-masterWrapper .Company_Table_wrapper::-webkit-scrollbar-thumb:hover {
  background: #101820;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Company-masterWrapper .Table_wrapper::-webkit-scrollbar-track, main .Company-masterWrapper .Company_Table_wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 1px 4px 2px #2b2c2d5c;
          box-shadow: inset 0 1px 4px 2px #2b2c2d5c;
}

main .Company-masterWrapper .Table_wrapper::-webkit-scrollbar, main .Company-masterWrapper .Company_Table_wrapper::-webkit-scrollbar {
  width: 100%;
  height: 7px;
}

main .Company-masterWrapper .Table_wrapper table, main .Company-masterWrapper .Company_Table_wrapper table {
  width: 100%;
  border-collapse: inherit;
  border-spacing: 0px;
  border-radius: 5px;
}

main .Company-masterWrapper .Table_wrapper table thead, main .Company-masterWrapper .Company_Table_wrapper table thead {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #64646e), to(#292f2d));
  background: linear-gradient(to right, #64646e 0, #292f2d 100%);
}

main .Company-masterWrapper .Table_wrapper table thead tr th, main .Company-masterWrapper .Company_Table_wrapper table thead tr th {
  padding: .5rem .5rem;
  color: #ffffff;
  font-size: 14px;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: left;
  vertical-align: middle;
}

main .Company-masterWrapper .Table_wrapper table tbody tr, main .Company-masterWrapper .Company_Table_wrapper table tbody tr {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Company-masterWrapper .Table_wrapper table tbody tr td, main .Company-masterWrapper .Company_Table_wrapper table tbody tr td {
  padding: .5rem .5rem;
  font-size: 12px;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  color: #636468;
  text-transform: capitalize;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}

main .Company-masterWrapper .Table_wrapper table tbody tr td .active-status b, main .Company-masterWrapper .Company_Table_wrapper table tbody tr td .active-status b {
  font-size: 10px;
  padding: 0 4px;
  background: #28a745;
  border-radius: 5px;
  color: #ffffff;
}

main .Company-masterWrapper .Table_wrapper table tbody tr td .deactive-status b, main .Company-masterWrapper .Company_Table_wrapper table tbody tr td .deactive-status b {
  background: #DA291C !important;
  font-size: 10px;
  padding: 0 4px;
  border-radius: 5px;
  color: #ffffff;
}

main .Company-masterWrapper .Table_wrapper table tbody tr td a, main .Company-masterWrapper .Company_Table_wrapper table tbody tr td a {
  font-size: 13px;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  color: #636468;
}

main .Company-masterWrapper .Table_wrapper table tbody tr td .Action-wrp, main .Company-masterWrapper .Company_Table_wrapper table tbody tr td .Action-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 0 .8rem;
}

main .Company-masterWrapper .Table_wrapper table tbody tr td .Action-wrp .edit i, main .Company-masterWrapper .Company_Table_wrapper table tbody tr td .Action-wrp .edit i {
  color: #28a745;
}

main .Company-masterWrapper .Table_wrapper table tbody tr td .Action-wrp .del i, main .Company-masterWrapper .Company_Table_wrapper table tbody tr td .Action-wrp .del i {
  color: #dc3545;
}

main .Company-masterWrapper .Table_wrapper table tbody tr td .Action-wrp i, main .Company-masterWrapper .Company_Table_wrapper table tbody tr td .Action-wrp i {
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

main .Company-masterWrapper .Table_wrapper table tbody tr:nth-child(odd), main .Company-masterWrapper .Company_Table_wrapper table tbody tr:nth-child(odd) {
  background: #eeeded38;
}

main .Company-masterWrapper .Table_wrapper table tbody tr:hover, main .Company-masterWrapper .Company_Table_wrapper table tbody tr:hover {
  background: #3f434614;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Attachment_MasterWrapper .Table_wrapper table {
  width: 100% !important;
}

main #Attachment_MasterWrapper {
  width: 35% !important;
  margin: 3rem auto 0 14%;
}

main #ComTypMaster .modal-header, main #ActicityMaster .modal-header, main #Make-Recurring .modal-header, main #EditComTypMaster .modal-header {
  background: #ffffff !important;
}

main #ComTypMaster .modal-header .Modal-title-Wrp h4, main #ActicityMaster .modal-header .Modal-title-Wrp h4, main #Make-Recurring .modal-header .Modal-title-Wrp h4, main #EditComTypMaster .modal-header .Modal-title-Wrp h4 {
  text-align: left;
  font-size: 1.3em;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  padding-left: 1rem;
  color: #000;
  font-weight: 500;
}

main #ComTypMaster .modal-header button.btn-close, main #ActicityMaster .modal-header button.btn-close, main #Make-Recurring .modal-header button.btn-close, main #EditComTypMaster .modal-header button.btn-close {
  margin: 0 0.5rem !important;
}

main #ComTypMaster .modal-body form .child-form .item-cmn, main #ActicityMaster .modal-body form .child-form .item-cmn, main #Make-Recurring .modal-body form .child-form .item-cmn, main #EditComTypMaster .modal-body form .child-form .item-cmn {
  width: 46%;
}

main #ComTypMaster .modal-footer, main #ActicityMaster .modal-footer, main #Make-Recurring .modal-footer, main #EditComTypMaster .modal-footer {
  margin-top: 1rem;
}

main #ComplianceMaster .modal-header {
  background: #ffffff !important;
}

main #ComplianceMaster .modal-header .Modal-title-Wrp h4 {
  text-align: left;
  font-size: 1.3em;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  padding-left: 1rem;
  color: #000;
  font-weight: 500;
}

main #ComplianceMaster .modal-header button.btn-close {
  margin: 0 0.5rem !important;
}

main .Company_Modal_Wrapper .modal-header {
  background: #f5f7fa;
}

main .Company_Modal_Wrapper .modal-header .Modal-title-Wrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: .5rem 0rem;
  width: 100%;
  text-align: center;
}

main .Company_Modal_Wrapper .modal-header .Modal-title-Wrp h5 {
  color: #444;
  cursor: pointer;
  font-size: 14px;
  padding: .5rem 0;
  background: #ffffff;
  border-radius: 5px;
  margin: 0 .3rem;
  border-top-left-radius: 109px;
  border-bottom-right-radius: 109px;
  -webkit-box-shadow: 0 -2px 40px 0 #3e396b12, 0 2px 9px 0 #3e396b0f;
          box-shadow: 0 -2px 40px 0 #3e396b12, 0 2px 9px 0 #3e396b0f;
}

main .Company_Modal_Wrapper .modal-header .Modal-title-Wrp #OtherLocation {
  position: relative;
}

main .Company_Modal_Wrapper .modal-header .Modal-title-Wrp #OtherLocation::before {
  content: '';
  width: 176px;
  height: 0px;
  border: 1px dashed;
  position: absolute;
  left: -104px;
  top: 14px;
  display: none;
}

main .Company_Modal_Wrapper .modal-header .Modal-title-Wrp #OtherLocation::after {
  display: none;
  content: '';
  width: 176px;
  height: 0px;
  border: 1px dashed;
  position: absolute;
  right: -95px;
  top: 14px;
}

main .Company_Modal_Wrapper .modal-header .Modal-title-Wrp .active-Steps {
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #64646e), to(#292f2d));
  background: linear-gradient(to right, #64646e 0, #292f2d 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 109px !important;
  border-bottom-right-radius: 109px !important;
}

main .Company_Modal_Wrapper .modal-header .Modal-title-Wrp .active-Steps:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #292f2d), to(#64646e));
  background: linear-gradient(to right, #292f2d 0, #64646e 100%);
}

main .Company_Modal_Wrapper .modal-content .modal-header {
  padding: .2rem .2rem;
}

main .Company_Modal_Wrapper .modal-content .modal-body {
  padding: .3rem 1rem;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .tab2 .Company-masterWrapper, main .Company_Modal_Wrapper .modal-content .modal-body form .tab3 .Company-masterWrapper {
  width: 100% !important;
  padding: .5rem;
  margin: .22rem 2rem 0 auto;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .tab3 .modal-item3 #FileAttach {
  width: 100%;
  text-align: center;
  border: 1.80px dashed #999;
  padding: .33rem 1.5rem 1rem .40rem;
  cursor: pointer;
  background: #bcafff0f;
  border-radius: 5px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .tab3 .modal-item3 #FileAttach:hover {
  border-color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  grid-gap: 0 1.5rem;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .Comment-wrp {
  width: 100% !important;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .save-btn {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0.6rem 0 !important;
  grid-gap: 0 .6rem;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .save-btn button {
  padding: .5rem .7rem;
  font-size: 14px;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn {
  width: 31%;
  margin: .2rem 0;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn button#save {
  margin: 2.3rem 0 0;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn label {
  font-size: 14px;
  text-transform: capitalize;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  padding: 0  0 .4rem;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn input, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn select, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn textarea, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn option, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn .checkbox-wrp > span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 11px;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn input:hover, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn select:hover, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn textarea:hover, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn option:hover, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn .checkbox-wrp > span:hover {
  border-color: #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn input, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn select {
  vertical-align: middle;
  padding: .99rem .75rem;
  font-size: 11px !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-overflow: ellipsis;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn input:focus, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn input:active, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn select:focus, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn select:active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #9c9c9c;
  -webkit-box-shadow: 0 0 0 0.2rem #eee;
          box-shadow: 0 0 0 0.2rem #eee;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn select, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn textarea {
  display: block;
  width: 100%;
  padding: .485rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn select:focus, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn select:active, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn textarea:focus, main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .item-cmn textarea:active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #999;
  border-color: #9c9c9c;
  -webkit-box-shadow: 0 0 0 0.2rem #eee;
          box-shadow: 0 0 0 0.2rem #eee;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .Register-Wrapper {
  width: 100% !important;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .Register-Wrapper > label {
  font-weight: bold;
  padding: 0 0 0 !important;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .Register-Wrapper .Register-child_wrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-gap: .5rem 1rem;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .Register-Wrapper .Register-child_wrp .item-cmn {
  width: 100% !important;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .child-form .Register-Wrapper .Register-child_wrp .item-cmn label {
  font-size: 12px;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .modal-footer {
  margin: 1rem 0 0;
}

main .Company_Modal_Wrapper .modal-content .modal-body form .modal-footer .btn-danger {
  background: #DA291C !important;
}

main .Company_Modal_Wrapper .tab3 .child-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  grid-gap: 0 0.2rem !important;
}

main .Company_Modal_Wrapper .tab3 .child-form .item-cmn {
  width: 49% !important;
}

main .Company_Modal_Wrapper .tab3 .Action-wrp {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

main #Company_Master01 .item-cmn {
  width: 30%;
}

main .Dialog-Wrapper .MuiDialog-paperWidthSm {
  width: 500px;
  text-align: center;
}

@-webkit-keyframes popupanime {
  0%, 100% {
    -webkit-transform: scale(0.89);
            transform: scale(0.89);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  50% {
    -webkit-transform: scale(1.099);
            transform: scale(1.099);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes popupanime {
  0%, 100% {
    -webkit-transform: scale(0.89);
            transform: scale(0.89);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  50% {
    -webkit-transform: scale(1.099);
            transform: scale(1.099);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

main .Dialog-Wrapper .Dailog-img {
  text-align: center;
  margin: 1rem 0 1.5rem;
}

main .Dialog-Wrapper .Dailog-img i {
  font-size: 3.6em;
  color: #f8bb86;
}

main .Dialog-Wrapper .Dailog-content h2 {
  text-transform: capitalize;
}

main .Dialog-Wrapper .Dailog-content p {
  padding: .5rem 0;
}

main .Dialog-Wrapper .dailog-grp-btn {
  border-top: initial !important;
}

main .Dialog-Wrapper .dailog-grp-btn .cancel-btn {
  border: 1px solid rgba(153, 153, 153, 0.13);
  background-color: #e8e8e8;
  color: #555;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Dialog-Wrapper .dailog-grp-btn .cancel-btn:hover {
  opacity: .77;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.019);
          transform: scale(1.019);
}

main .Dialog-Wrapper .dailog-grp-btn .ok-btn {
  background-color: #df4740;
  border: 1px solid #999;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Dialog-Wrapper .dailog-grp-btn .ok-btn:hover {
  opacity: .77;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.019);
          transform: scale(1.019);
}

main #Company-content .heading-wrp {
  margin-bottom: 0rem !important;
}

main .Compliance_content {
  width: 100%;
}

main .Compliance_content .child-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: .5rem 1rem;
  padding: 1rem 0rem 1.5rem;
}

main .Compliance_content .child-form .item-cmn label {
  font-size: 14px;
  text-transform: capitalize;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  padding: 0  0 .4rem;
}

main .Compliance_content .child-form .item-cmn input, main .Compliance_content .child-form .item-cmn select, main .Compliance_content .child-form .item-cmn textarea, main .Compliance_content .child-form .item-cmn option, main .Compliance_content .child-form .item-cmn .checkbox-wrp > span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 11px;
}

main .Compliance_content .child-form .item-cmn input:hover, main .Compliance_content .child-form .item-cmn select:hover, main .Compliance_content .child-form .item-cmn textarea:hover, main .Compliance_content .child-form .item-cmn option:hover, main .Compliance_content .child-form .item-cmn .checkbox-wrp > span:hover {
  border-color: #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Compliance_content .child-form .item-cmn input, main .Compliance_content .child-form .item-cmn select {
  vertical-align: middle;
  padding: .99rem .75rem;
  font-size: 11px !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-overflow: ellipsis;
}

main .Compliance_content .child-form .item-cmn input:focus, main .Compliance_content .child-form .item-cmn input:active, main .Compliance_content .child-form .item-cmn input:focus-visible, main .Compliance_content .child-form .item-cmn select:focus, main .Compliance_content .child-form .item-cmn select:active, main .Compliance_content .child-form .item-cmn select:focus-visible {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #9c9c9c;
  -webkit-box-shadow: 0 0 0 0.2rem #eee;
          box-shadow: 0 0 0 0.2rem #eee;
}

main .Compliance_content .child-form .item-cmn select, main .Compliance_content .child-form .item-cmn textarea {
  display: block;
  width: 100%;
  padding: .485rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Compliance_content .child-form .item-cmn select:focus, main .Compliance_content .child-form .item-cmn select:active, main .Compliance_content .child-form .item-cmn select:focus-visible, main .Compliance_content .child-form .item-cmn textarea:focus, main .Compliance_content .child-form .item-cmn textarea:active, main .Compliance_content .child-form .item-cmn textarea:focus-visible {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #999;
  border-color: #9c9c9c;
  -webkit-box-shadow: 0 0 0 0.2rem #eee;
          box-shadow: 0 0 0 0.2rem #eee;
}

main .Compliance_content .child-form .modal-item23.item-cmn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2rem 0 0;
}

main .Compliance_content .child-form .modal-item23.item-cmn .Start_Meeting {
  font-size: 1em;
  text-transform: capitalize;
  color: #03a9f4;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Compliance_content .child-form .modal-item23.item-cmn .Start_Meeting:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: underline !important;
  color: #03a8f4a2;
}

main .Compliance_content .child-form .modal-item23.item-cmn .Start_Meeting:hover i.fas.fa-sync-alt {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

main .Compliance_content .child-form .modal-item23.item-cmn .Start_Meeting b i.fas.fa-sync-alt {
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Compliance_content .modal-footer {
  padding: 1rem 0 0;
}

main #AddCompliance-Content .child-form {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #AddCompliance-Content .child-form .item-cmn {
  width: 24%;
}

main #AddCompliance-Content .child-form .modal-item8.item-cmn {
  width: 49% !important;
}

main #AddCompliance-Content .child-form .modal-item8.item-cmn input {
  height: 100px;
}

main #Make-Recurring .modal-header .Modal-title-Wrp {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

main #Make-Recurring .modal-header .Modal-title-Wrp h4 {
  text-align: left;
  font-size: 1em;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  padding-left: 1rem;
  color: #000;
  font-weight: bold;
}

main #Make-Recurring .modal-header .modal-xl {
  max-width: 40% !important;
}

main #Make-Recurring .recurring_form .child-form {
  width: 100%;
  margin: .6rem 0 .4rem;
}

main #Make-Recurring .recurring_form .child-form fieldset {
  width: 100%;
  padding: .5rem;
  border: 1px solid #eee;
  background: #ffffff;
  border-radius: 5px;
}

main #Make-Recurring .recurring_form .child-form fieldset legend {
  font-size: .88em;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: 600;
}

main #Make-Recurring .recurring_form .child-form fieldset .panel-cmn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 170px;
      grid-template-columns: 70px 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: .5rem 1rem;
  margin: 0 0 .5rem;
}

main #Make-Recurring .recurring_form .child-form fieldset .panel-cmn label {
  font-size: 12px;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
}

main #Make-Recurring .recurring_form .child-form fieldset .panel-cmn select {
  border: 1px solid rgba(153, 153, 153, 0.589);
  font-size: 12px !important;
  border-radius: 5px;
  padding: .17rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Make-Recurring .recurring_form .child-form fieldset .panel-cmn select:hover, main #Make-Recurring .recurring_form .child-form fieldset .panel-cmn select:focus, main #Make-Recurring .recurring_form .child-form fieldset .panel-cmn select:focus-visible {
  border-color: #444;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Make-Recurring .recurring_form .pattern-wrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 107px 1fr;
      grid-template-columns: 107px 1fr;
  grid-gap: 0 .8rem;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left {
  display: block;
  border-right: 1px solid #777;
  overflow: hidden;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left button {
  background: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px 100px;
      grid-template-columns: 25px 100px;
  margin: 0 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left button .radio {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #a7a7a7;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left button .radio:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #666;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left button span {
  font-size: 12px;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left .active-btn .radio {
  border: 1px solid #0075ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left .active-btn .radio b {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0075ff;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left .active-btn .radio:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left .active-btn .radio:hover .radio {
  border-color: #005cc8 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-left .active-btn .radio:hover b {
  background: #005cc8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .every-wrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
      grid-template-columns: 75px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0 .4rem;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn label {
  font-size: 12px;
  margin: 0;
  font-weight: 600;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#checkbox1 {
  cursor: pointer;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#input1, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #select2, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #year-select2 {
  width: 36px;
  height: 19px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#input1:hover, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#input1:focus, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#input1:visited main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#input1:focus-visible, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #select2:hover, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #select2:focus, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #select2:visited main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#input1:focus-visible, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #year-select2:hover, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #year-select2:focus, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #year-select2:visited main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#input1:focus-visible, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#input1:visited main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #select2:focus-visible, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #select2:visited main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #select2:focus-visible, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #year-select2:visited main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #select2:focus-visible, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn input#input1:visited main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #year-select2:focus-visible, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #select2:visited main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #year-select2:focus-visible, main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #year-select2:visited main #Make-Recurring .recurring_form .pattern-wrp .pattern-right .pattern-cmn01 .Ptrn-item-cmn #year-select2:focus-visible {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #444;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern2 .every-wrp {
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern2 .week-wrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0 .5rem;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern2 .week-wrp .week-day {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0 .3rem;
  margin-bottom: .4rem;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern3 .every-wrp {
  -ms-grid-columns: 60px 120px 100px;
      grid-template-columns: 60px 120px 100px;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern3 .Ptrn-item3 .every-wrp2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 100px 180px 130px;
      grid-template-columns: 60px 100px 180px 130px;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern3 .Ptrn-item3 .every-wrp2 #select2 {
  width: 100px !important;
  margin-right: .4rem;
  cursor: pointer;
  height: 25px;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern4 .every-wrp {
  -ms-grid-columns: 86px 1fr;
      grid-template-columns: 86px 1fr;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern4 .Ptrn-item3 .every-wrp2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 100px  130px;
      grid-template-columns: 60px 100px  130px;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern4 .Ptrn-item3 .every-wrp2 #select2 {
  width: 100px !important;
  margin-right: .4rem;
  cursor: pointer;
  height: 25px;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern4 .Ptrn-item3 .every-wrp2 #input-year {
  height: 25px;
  width: 34px;
  text-align: center;
  margin-left: 10px;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern4 .Ptrn-item4 .every-wrp4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 100px 150px 100px;
      grid-template-columns: 70px 100px 150px 100px;
  margin: .7rem 0 0;
}

main #Make-Recurring .recurring_form .pattern-wrp .pattern-right #pattern4 .Ptrn-item4 .every-wrp4 #year-select2 {
  width: 100px !important;
  margin-right: .4rem;
  cursor: pointer;
  height: 25px;
}

main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 245px 1fr;
      grid-template-columns: 245px 1fr;
  grid-gap: 0 .4rem;
}

main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-cmn02 .range-item-cmn label {
  font-size: 12px;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
}

main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-cmn02 .range-item-cmn input {
  font-size: 12px;
  padding: .19rem;
  border-radius: 5px;
  border: 1px solid #999;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-cmn02 .range-item-cmn input:hover, main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-cmn02 .range-item-cmn input:focus, main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-cmn02 .range-item-cmn input:visited main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-cmn02 .range-item-cmn input:focus-visible {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #444;
}

main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-Right .range-item-cmn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 115px 1fr;
      grid-template-columns: 115px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .7rem;
}

main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-Right .range-item-cmn .child-item01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0 .4rem;
}

main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-Right .range-item-cmn span {
  font-size: 12px;
  word-spacing: .5px;
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
}

main #Make-Recurring .recurring_form .Appointment-item3 .Range_Wrapper .Range-Right .range-item-cmn input#end-after {
  width: 30px;
  text-align: center;
  height: 24px;
}

@media only screen and (min-width: 1200px) {
  .modal-xl {
    max-width: 45% !important;
  }
}
/*# sourceMappingURL=style.css.map */